@page
@model Quran_Memorizing_System.Pages.create_performanceModel
@{
}


<p class="text-center fs-4 mb-3">Enter Grades</p>

@foreach (var question in Model.questions)
{
    <p class="p-3 mb-2 border rounded shadow-sm" style="background-color:#f8f9fa; color:#212529;">
        Question: @question.Key
    </p>

    <p class="p-3 mb-3 border rounded shadow-sm" style="background-color:#ffffff; color:#495057;">
        Answer: @question.Value
    </p>
}

<form method="post" class="text-center">
    <p class="p-3 mb-2 border rounded shadow-sm" style="background-color:#e9ecef; color:#212529;">
        Enter a grade for this student
    </p>

    <input asp-for="@Model.grade" class="form-control mb-2" style="max-width:300px; margin:auto;" />

    <input asp-for="@Model.subid" type="hidden" />

    <button type="submit" class="btn btn-primary mt-2" style="width:150px;">
        Grade
    </button>
</form>